/* Collection name: color-primitives */
/* Mode: Mode 1 */
:root {
  --peri: #cbdceb;
  --pippin: #ffe3e3;
  --old-lace: #fdf5e6;
  --nile-blue: #1b3c53;
}

/* Collection name: brand-colors */
/* Mode: light */
:root {
  --background-bg-main: #fdf5e6;
  --background-bg-card: #ffe3e3;
  --background-bg-nav: #1b3c53;
  --background-bg-footer: #1b3c53;
  --text-text-primary: #1b3c53;
  --text-text-inverse: #cbdceb;
  --text-text-muted: #cbdceb;
  --color: #ffffff;
  --accent-accent-primary: #cbdceb;
  --accent-accent-soft: #ffe3e3;
}

/* Collection name: brand-colors */
/* Mode: dark */
:root {
  --background-bg-main: #1b3c53;
  --background-bg-card: #cbdceb;
  --background-bg-nav: #ffe3e3;
  --background-bg-footer: #ffe3e3;
  --text-text-primary: #fdf5e6;
  --text-text-inverse: #1b3c53;
  --text-text-muted: #cbdceb;
  --color: #ffffff;
  --accent-accent-primary: #cbdceb;
  --accent-accent-soft: #ffe3e3;
}

/* Collection name: brand-colors */
/* Mode: dark 2 */
:root {
  --background-bg-main: #1b3c53;
  --background-bg-card: #cbdceb;
  --background-bg-nav: #ffe3e3;
  --background-bg-footer: #ffe3e3;
  --text-text-primary: #fdf5e6;
  --text-text-inverse: #1b3c53;
  --text-text-muted: #cbdceb;
  --color: #ffffff;
  --accent-accent-primary: #cbdceb;
  --accent-accent-soft: #ffe3e3;
}

/* Collection name: typography */
/* Mode: Mode 1 */
:root {
  --font-family-body: "open sans";
  --font-family-heading: "playfair display";
  --font-size-text-sm: 14;
  --font-size-text-md: 16;
  --font-size-text-lg: 24;
  --font-size-text-xl: 36;
  --font-weight-weight-regular: 400;
  --font-weight-weight-semibold: 600;
  --font-weight-wieght-bold: 700;
  --spacing-space-2: 8;
  --spacing-space-4: 16;
  --spacing-space-6: 24;
  --spacing-space-8: 32;
  --spacing-space-12: 48;
}

/* Collection name: navigation */
/* Mode: Mode 1 */
:root {
  --color-nav-bg: brand_colors.bg-nav;
  --color-nav-text: brand_colors.text-inverse;
  --layout-nav-padding: spacing.space-6;
  --layout-nav-text: spacing.space-4;
}

